<body style="padding: 10px">
	<div class="col-xs-8">
		<div class="panel-heading">
			<h3>Employee Search from</h3>
		</div>
		<form asp-controller="Employee" asp-action="DynamicSQl">
			<div>
				<label for="firstname">First name</label>
				<br/>
				<input type="text" name="firstname" placeholder="First Name"/>
			</div>
			<br />
			<div>
				<label for="Lastname">Last name</label>
				<br />
				<input type="text" name="lastname" placeholder="last Name" />
			</div>
			<div>
				<label for="gender">Gender</label>
				<br/>
				<select name="gender">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
			<div>
				<label for="salary">Salary</label>
				<br />
				<input type="number" name="salary" placeholder="salary" />
			</div>
			<br />
			<input type="submit" value="DynamicSQL"/>
		</form>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">First name</th>
					<th scope="col">Last name</th>
					<th scope="col">Gender</th>
					<th scope="col">Salary</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var emp in Model)
				{
					<tr>
						<td>@emp.FirstName</td>
						<td>@emp.LastName</td>
						<td>@emp.Gender</td>
						<td>@emp.Salary</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>