<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="SearchResult">SearchResult</a>
</li>
<br />
<br />
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQl">DynamicSQl</a>
</li>
<br />
<br />
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="SearchDynamicSQl">SearchDynamicSQl</a>

</li>
<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Õpilased</a>
</li>
